@page "/n/{slug}"
@model Areas.Newsletter.Pages.Details

@{
    Layout = "_Layout";
    var newsletter = Model.Newsletter;
    var newsletterUrl = Url.PageLink("/Details", values: new { area = "Newsletter", slug = newsletter.Slug });
}

<section class="mb-3">
    <div class="btn btn-light btn-sm"
         data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Click to copy"
         onclick="navigator.clipboard.writeText('@newsletterUrl')"
    >
        [n/@newsletter.Slug]
    </div>
    <h1>@newsletter.Name</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="d-flex align-items-center gap-2 text-muted">
            <span>
                Created by
                <a asp-page="Users" asp-route-userProfileSlug="@newsletter.Author.Slug" class="fw-bold text-reset text-decoration-hover">
                    @newsletter.Author.Name</a>
                on @newsletter.CreatedAt.ToLocalTime().ToString("MMM, yyyy")
            </span>
        </span>
    </div>
    <div>
        @newsletter.Description
    </div>
</section>

@(await Html.PartialAsync("Shared/_NewsletterSubscriptionButtons", Model.NewsletterSubscriptionButtons))

<section class="articles">
    <h3 class="mb-3">Articles</h3>
    <div id="article-list">
        @if (Model.PublishedNewsletter.PageHasData)
        {
            @(await Html.PartialAsync("Shared/_NewsletterPaginatedArticleList", Model.PublishedNewsletter))
        }
        else
        {
            <div class="alert alert-info">Newsletter hasn't published any articles yet</div>
        }
    </div>
</section>
